<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">


  </head>
  <body>
      <div class="navbar navbar-default">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href=>Home</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
            <li role="presentation"><a href="/login">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Taking A Look</h3>
      </div>
     <div class="jumbotron">
        <h1>WHAT AM I LOOKING FOR????</h1>
        <p class="lead">What's around the corner, down the street or the next town? Should I walk, bike, motorcycle, drive, take a cab or public transit?</p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
      </div>

      <iframe src="//player.vimeo.com/video/114973808" width="100%" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>







<!-- <!DOCTYPE html>
<html>
  <head>
    <title>I Just Want to Fucking Ride!!!!!!</title>
  
    

  <body>
    <h1>I Just Want to F**king Ride!!</h1>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>

  </body>
</html> -->