<!--views/users/login.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    The Sign Up Page!
    <form method="post" action="/signup">
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="password" name="user[password]" placeholder="Password">
      </div>
      <button>Sign up </button>
    </form>
  </body>
</html>